<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.appPal.main.mapper.UserMapper">
	<select id="selectUserList" parameterType="UserSearchDto" resultType="UserDto">
		select 
			*
		from
			user_tb ut
		where
			ut.status = '01'
			<if test="search.email!=null">
			and ut.email = #{search.email}
			</if>
		<choose>
			<when test="search.orderBy=='lastLoginDate'">
		order by ut.reg_date desc
			</when>
			<when test="search.orderBy!='lastLoginDate'">
		order by ut.last_login_date desc
			</when>
		</choose>
	</select>
</mapper>